SERVER_TIMEOUT = 30000 # in ms
NODE_ENV = "development"
PORT = 5000
DEBUG = true

UI_URL = "http://localhost:3000"
API_URL = "http://localhost:5000"

CORS_ORIGINS = "http://localhost:3000"
CORS_METHODS = "GET, HEAD, PUT, PATCH, POST, DELETE"

SECRET_KEY = "smd-secret-key"
TOKEN_TTL = 3h

COOKIE_NAME = "smd-session"

FB_CLIENT_ID = "your-facebook-client-id"
FB_CLIENT_SECRET = "your-facebook-client-secret"